body {
    margin: 0;
    padding: 25px;
    background-color: #000000;
    color: #FFFFFF;
}
ul li {
    list-style: none;
    padding: 5px 0;
}
ul li a {
    text-decoration: none;
    color: #FFFF33;
}
